<% @flash = flash -%>
<div id="flash"><%= render :partial => 'layouts/flash' -%></div>

<div class="header" id="navtop">
  <div class="navbar <%= @show_image.present? ? 'navbar-transparent' : 'navbar-default' %>" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <%= content_tag :span,  ENV['SITE_TITLE'], data_tags_for_api %>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if can?(:read, Agent) %>
            <li class="dropdown hidden-sm hidden-md">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Status", '/dashboard' %></li>
                <li><%= link_to "Agents", agents_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown hidden-sm hidden-md">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Email", "mailto:support@datacite.org" %></li>
              <li><%= link_to 'API Documentation', root_path %></li>
              <li><%= link_to "Source Code", ENV['GITHUB_URL'] %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account_menu_link"><%= icon('th') %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% if development? %>
                <li class='dropdown-header'>Development</li>
                <% data.links.development_links.each do |link| %>
                  <% if link.name == "divider" %>
                    <li class="divider"></li>
                  <% else %>
                    <li>
                      <a href='<%= link.url %>'>
                        <i class='fa fa-<%= link.icon %> fa-fw'></i>
                        <%= link.name %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              <% elsif stage? %>
                <li class='dropdown-header'>Test Services</li>
                <% data.links.stage_links.each do |link| %>
                  <% if link.name == "divider" %>
                    <li class="divider"></li>
                  <% else %>
                    <li>
                      <a href='<%= link.url %>'>
                        <i class='fa fa-<%= link.icon %> fa-fw'></i>
                        <%= link.name %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              <% else %>
                <% data.links.production_links.each do |link| %>
                  <% if link.name == "divider" %>
                    <li class="divider"></li>
                  <% else %>
                    <li>
                      <a href='<%= link.url %>'>
                        <i class='fa fa-<%= link.icon %> fa-fw'></i>
                        <%= link.name %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account_menu_link"><%= current_user.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "#{icon('user')} Settings".html_safe, "#{ENV['JWT_HOST']}/users/me" %></li>
                <li class="divider"></li>
                <% if ENV['ORCID_CLIENT_ID'].present? %>
                  <li><%= link_to "#{icon('external-link')} ORCID Record".html_safe, current_user.orcid %></li>
                  <li class="divider"></li>
                <% end %>
                <li><%= link_to "#{icon('sign-out')} Sign Out".html_safe, "#{ENV['JWT_HOST']}/sign_out", :id => "sign_out" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "#{icon('sign-in')} Sign in".html_safe, "#{ENV['JWT_HOST']}/sign_in", :id => "sign_in", class: 'btn btn-default' %></li></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
