= haml :header
= haml :navigation

.container-fluid
  .panel-group{id: "agent"}
    - Agent.descendants.map { |a| a.new }.each do |agent|
      .panel.panel-default
        .panel-heading.panel-title.panel-list
          %a.accordion-toggle{href: "#agent_" + agent.name, id: "link_" + agent.name, data: { toggle: "collapse", parent: "#agent" }}
            = agent.title + " <small class='pull-right'>" + agent.name + "</small>"
        .panel-collapse.collapse{id: "agent_" + agent.name}
          .panel-body
            = agent.description
            %h5
              Count
            = agent.count.to_i
            - if agent.scheduled_at.present?
              %h5
                Scheduled at
              = format_time(agent.scheduled_at)

= haml :footer
