<div class="panel panel-default">
  <div class="panel-heading panel-title">
    Configuration
  </div>
  <% if can?(:manage, Agent) && @agent.state > 1 && (controller.action_name == "edit" || (controller.action_name == "update" && !@agent.errors.empty?)) %>
    <%= simple_form_for(@agent.becomes(Agent), :url => agent_path(@agent.name), :html => { :remote => true }) do |f| %>
      <div class="panel-body">
        <% f.object = @agent.becomes(@agent.class) %>

        <%= f.input :title %>
        <%= f.input :state_event, :as => :boolean, label: "Active", :checked_value => 'activate', :unchecked_value => 'inactivate', input_html: { checked: @agent.active? }, hint: "Agent is talking to external APIs" %>
        <%= f.input :description, :input_html => { :rows => 3 } %>

        <% @agent.other_fields.each do |field| %>
          <%= f.input field %>
        <% end %>

        <% @agent.publisher_fields.each do |field| %>
          <% if field == :password %>
            <%= f.input field, :as => :string %>
          <% elsif field == :expires_at %>
            <%= f.input field, :as => :hidden %>
          <% else %>
            <%= f.input field %>
          <% end %>
        <% end %>

        <%= f.input :queue,             collection: QUEUE_OPTIONS,
                                        label: "Job queue",
                                        include_blank: false,
                                        hint: "Job queue for workers" %>
        <%= f.input :rate_limiting, :as => :numeric, label: false,
                                                      hint: "Max. requests per hour" %>
        <%= f.input :cron_line, label: "Update interval",
                                  hint: "Time in crontab format before more jobs can be added to the job queue" %>

        <%= f.input :timeout, hint: "Time to wait for response from the agent (seconds)"  %>

        <%= f.input :max_failed_queries, label: "Failed queries",
                                         hint: "Maximum number of failed queries allowed per 24 hours before being disabled" %>
      </div>
      <div class="panel-footer">
        <div class="form-group submit pull-right">
          <%= link_to 'Cancel', agent_path(@agent.name), { :remote => true, :class => 'btn btn-sm' } %>
          <%= f.submit "Save ", class: "btn btn-sm btn-fill" %>
        </div>
        <div class="clearfix"/>
      </div>
    <% end %>
  <% else %>
    <table class="table" id="ConfigurationTable">
      <tbody>
        <% @agent.url_fields.each do |field| %>
          <tr>
            <th><%= field.to_s.gsub(/_/, " ").capitalize %></th>
            <td><%= @agent.send(field) %></td>
          </tr>
        <% end %>
        <% @agent.other_fields.each do |field| %>
          <tr>
            <th><%= field.to_s.gsub(/_/, " ").capitalize %></th>
            <td><%= @agent.send(field) %></td>
          </tr>
        <% end %>
        <% @agent.publisher_fields.each do |field| %>
          <tr>
            <th><%= field.to_s.gsub(/_/, " ").capitalize %></th>
            <% if [:username, :password, :client_id, :secret, :access_token, :api_key].include?(field) && cannot?(:manage, Agent) %>
              <td><em>hidden</em></td>
            <% else %>
              <td><%= @agent.send(field) %></td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <th>Job queue</th>
          <td>
            <%= @agent.rate_limiting %> per hour rate-limiting</br>
            <%= @agent.rate_limit_remaining %> remaining to rate-limit</br>
            rate-limiting reset at <%= @agent.rate_limit_reset.to_formatted_s(:long) %> UTC</br>
            job queue <%= @agent.queue %>
          </td>
        </tr>
        <tr>
          <th>Next update</th>
          <td><%= l @agent.run_at, format: :medium %></td>
        </tr>
        <tr>
          <th>Timeout</th>
          <td><%=h @agent.timeout %> seconds wait time for response from the agent</td>
        </tr>
        <tr>
          <th>Failed queries</th>
          <td>
            <%= @agent.max_failed_queries %> failed queries allowed per 24 hours before agent is disabled</br>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="panel-footer">
      <%= icon("info-circle") %>
      <%= @agent.name %>
      <% if can?(:manage, Agent) && @agent.state > 1 && controller.action_name != "edit" && !(controller.action_name == "update" && !@agent.errors.empty?) %>
        <div class="btn-toolbar pull-right">
          <div class="btn-group btn-group-sm">
            <%= link_to icon("pencil").html_safe, edit_agent_path(@agent.name), { :remote => true, :class => 'btn btn-neutral btn-fill btn-sm' } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
