<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="panel <%= @current_status.datacite_github_count > 0 ? 'panel-default' : 'panel-warning' %>">
          <div class="panel-heading">DataCite (GitHub)</div>
          <div class="panel-body panel-chart">
            <h2 class="graphs">
              <% if can?(:read, Status) %>
                <%= link_to_if @current_status.datacite_github_count > 0, number_with_delimiter(@current_status.datacite_github_count), agents_path %>
              <% else %>
                <%= number_with_delimiter(@current_status.datacite_github_count) %>
              <% end %>
            </h2>
            <div class="graphs" id="chart_datacite_github"></div>
            <div class="text-muted" id="chart_datacite_github-loading">Loading … <img src="<%= asset_path('/images/spinner.gif', host: ENV['CDN_HOST']) %>"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel <%= @current_status.datacite_orcid_count > 0 ? 'panel-default' : 'panel-warning' %>">
          <div class="panel-heading">DataCite (ORCID)</div>
          <div class="panel-body panel-chart">
            <h2 class="graphs">
              <% if can?(:read, Status) %>
                <%= link_to_if @current_status.datacite_orcid_count > 0, number_with_delimiter(@current_status.datacite_orcid_count), agents_path %>
              <% else %>
                <%= number_with_delimiter(@current_status.datacite_orcid_count) %>
              <% end %>
            </h2>
            <div class="graphs" id="chart_datacite_orcid"></div>
            <div class="text-muted" id="chart_datacite_orcid-loading">Loading … <img src="<%= asset_path('/images/spinner.gif', host: ENV['CDN_HOST']) %>"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel <%= @current_status.datacite_related_count > 0 ? 'panel-default' : 'panel-warning' %>">
          <div class="panel-heading">DataCite (RelatedIdentifier)</div>
          <div class="panel-body panel-chart">
            <h2 class="graphs">
              <% if can?(:read, Status) %>
                <%= link_to_if @current_status.datacite_related_count > 0, number_with_delimiter(@current_status.datacite_related_count), agents_path %>
              <% else %>
                <%= number_with_delimiter(@current_status.datacite_related_count) %>
              <% end %>
            </h2>
            <div class="graphs" id="chart_datacite_related"></div>
            <div class="text-muted" id="chart_datacite_related-loading">Loading … <img src="<%= asset_path('/images/spinner.gif', host: ENV['CDN_HOST']) %>"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel <%= @current_status.orcid_update_count > 0 ? 'panel-default' : 'panel-warning' %>">
          <div class="panel-heading">ORCID (Auto-Update)</div>
          <div class="panel-body panel-chart">
            <h2 class="graphs">
              <% if can?(:read, Status) %>
                <%= link_to_if @current_status.orcid_update_count > 0, number_with_delimiter(@current_status.orcid_update_count), agents_path %>
              <% else %>
                <%= number_with_delimiter(@current_status.orcid_update_count) %>
              <% end %>
            </h2>
            <div class="graphs" id="chart_orcid_update"></div>
            <div class="text-muted" id="chart_orcid_update-loading">Loading … <img src="<%= asset_path('/images/spinner.gif', host: ENV['CDN_HOST']) %>"></div>
          </div>
        </div>
      </div>
      <% if can?(:read, Status) %>
        <div class="col-md-4">
          <div class="panel <%= @current_status.db_size.to_i > 0 ? 'panel-default' : 'panel-warning' %>">
            <div class="panel-heading">Database size</div>
            <div class="panel-body panel-chart text-center">
              <h2 class="graphs" id="db_size"><%= number_to_human_size(@current_status.db_size) %></h2>
              <div class="graphs" id="chart_db_size"></div>
              <div class="text-muted" id="chart_db_size-loading">Loading … <img src="<%= asset_path('/images/spinner.gif', host: ENV['CDN_HOST']) %>"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel <%= @current_status.outdated_version? ? 'panel-warning' : 'panel-default' %>">
            <div class="panel-heading">Spinone version</div>
            <div class="panel-body panel-chart text-center">
              <h2 class="graphs" id="version"><%= @current_status.version %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if can?(:read, Status) %>
      <div class="row">
        <div class="col-md-12">
          <div class="panel <%= worker_label(@process.current_status) %>">
            <div class="panel-heading">Jobs</div>
            <table class="table">
              <thead>
                <tr>
                  <th class="jobs">Processed</th>
                  <th class="jobs">Failed</th>
                  <th class="jobs">Busy</th>
                  <th class="jobs">Enqueued</th>
                  <th class="jobs">Retries</th>
                  <th class="jobs">Scheduled</th>
                  <th class="jobs">Dead</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <% if can?(:manage, Status) %>
                  <td class="jobs"><%= link_to_if @process.stats.processed > 0, number_with_delimiter(@process.stats.processed), sidekiq_web_path, target: "_blank" %></td>
                  <td class="jobs"><%= link_to_if @process.stats.failed > 0, number_with_delimiter(@process.stats.failed), sidekiq_web_path, target: "_blank" %></td>
                  <td class="jobs"><%= link_to_if @process.workers_size > 0, number_with_delimiter(@process.workers_size), "/sidekiq/busy", target: "_blank" %></td>
                  <td class="jobs"><%= link_to_if @process.stats.enqueued > 0, number_with_delimiter(@process.stats.enqueued), "/sidekiq/queues", target: "_blank" %></td>
                  <td class="jobs"><%= link_to_if @process.stats.retry_size > 0, number_with_delimiter(@process.stats.retry_size), "/sidekiq/retries", target: "_blank" %></td>
                  <td class="jobs"><%= link_to_if @process.stats.scheduled_size > 0, number_with_delimiter(@process.stats.scheduled_size), "/sidekiq/scheduled", target: "_blank" %></td>
                  <td class="jobs"><%= link_to_if @process.stats.dead_size > 0, number_with_delimiter(@process.stats.dead_size), "/sidekiq/morgue", target: "_blank" %></td>
                <% else %>
                  <td class="jobs"><%= number_with_delimiter(@process.stats.processed) %></td>
                  <td class="jobs"><%= number_with_delimiter(@process.stats.failed) %></td>
                  <td class="jobs"><%= number_with_delimiter(@process.workers_size) %></td>
                  <td class="jobs"><%= number_with_delimiter(@process.stats.enqueued) %></td>
                  <td class="jobs"><%= number_with_delimiter(@process.stats.retry_size) %></td>
                  <td class="jobs"><%= number_with_delimiter(@process.stats.scheduled_size) %></td>
                  <td class="jobs"><%= number_with_delimiter(@process.stats.dead_size) %></td>
                <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'status/index' %>
